<section class="bg-primary" id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-justify">Agile Masters is a highly skilled and dedicated Scrum Team, ready to showcase their exceptional talent and expertise on to the world. With a deep understanding of Agile methodologies,we possess the necessary skills to deliver high-quality software solutions in a dynamic and fast-paced environment. The team members are proficient in Scrum frameworks, 
                    enabling them to effectively collaborate and adapt to evolving project requirements.</p>
                    <img src="img/agile.png"  style="width:200px">
                
            </div>
        </div>
    </div>
</section>
