<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mission Statement:</h2>
                <hr class="light">
                <p class="text-faded">At Agile Masters, our mission is to empower businesses and individuals with the principles of Scrum and Agile methodologies. Through our expertise, guidance, and innovative solutions, we aim to foster collaborative, adaptive, and high-performing teams that drive successful project delivery and organizational growth.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
