<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"What you have to know about a scrum master!</h2>
                <hr class="light">
                <p class="text-faded">The key concept to understand about Scrum is that it does not mandate a sequence of steps a team must follow to move a product forward. Scrum is more of a philosophy. It’s designed to help a team make progress fluidly, and adapt quickly when necessary, without being slowed by process.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
