
<section id="content">
   
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" id= "cons" style="background-color: blue;">
                <h2 class="section-heading">Objective</h2>
                <hr class="primary">
                <p class= "text-justify">Our objective is to create a dynamic and engaging webpage on GitHub that effectively showcases the talent and expertise of Agile Masters. We aim to provide visitors with a comprehensive understanding of our services, values, and accomplishments, while highlighting our commitment to delivering exceptional Agile solutions and fostering a culture of continuous improvement.</p>
            </div>
        
        </div>
   
  
</section>
