 <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here are the services we offer.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web development</h4>
                    <p class="text-muted"> At Agile Warriors, we offer top-notch web development services tailored to meet your unique business requirements. Our team of experienced developers combines cutting-edge technologies with creative design 
                        to build dynamic and user-friendly websites that enhance your online presence and drive measurable results..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile app development</h4>
                    <p class="text-muted">At Agile Warriors, we specialize in delivering exceptional mobile app development services that empower businesses to reach their target audience on the go. Our skilled team of developers utilizes the latest technologies and industry best practices 
                        to create engaging, intuitive, and high-performance mobile applications that drive user engagement and business growth..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cyber Security</h4>
                    <p class="text-muted">At Agile Warriors, we provide comprehensive cyber security services to safeguard your digital assets and protect your business from evolving cyber threats. Our expert team of security professionals employs advanced technologies and proactive strategies to identify vulnerabilities, implement robust defense mechanisms, and ensure the utmost security of 
                        your sensitive data, giving you peace of mind and enabling you to focus on your core business operations..</p>
                </div>
            </div>
        </div>
    </section>
